<h2 class="list-group-item-info padding-sm">Customers</h2>

<div class="col-md-12 margin-sm">
  <%= form_tag(customers_path, method: :get) do %>
    <%= label_tag(:filter_by_name) %>
    <%= text_field_tag(:filter_name, @current_query, :class => "input-sm") %>
    <%= submit_tag(:filter, :class => "col-md-1 btn btn-info btn-sm input-group-btn") %>
  <% end %>

  <h6><%= @customers.total_entries %> total results</h6>
  <table class="table table-striped margin-sm">
    <thead>
      <tr class="row">
        <td class="col-md-1">ID</td>
        <td class="col-md-4">First Name</td>
        <td class="col-md-4">Last Name</td>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr class="row">
          <td class="col-md-1"><%= customer.id %></td>

          <td class="col-md-4"><%= customer.first_name %></td>
          <td class="col-md-4"><%= customer.last_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @customers %>
